@import 'default';
$main_color: #F8270D;

// end default css -----------------------------------------------------


.cart {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  z-index: 1000;
  transform: translateX(100%);
  transition: .3s;
  display: grid;
  grid-template-rows: 100px calc(100% - 160px) 60px;

  &.cart-out {
    transform: none;
  }

  &-header {
    padding: 30px 20px;
    background: $main_color;
    color: white;
    
    h3 {
      font-weight: bold;
      margin-top: 5px;
    }

    i {
      font-size: 24px;
      margin-top: -10px;

      &.cart-close {
        cursor: pointer;
        transition: .5s;

        &:hover {
          color: black;
        }
      }
    }

    span {
      position: absolute;
      background: black;
      font-size: 10px;
      width: 15px;
      height: 15px;
      line-height: 15px;
      text-align: center;
      border-radius: 50%;
      bottom: 0;
      margin-left: -10px;
    }
  }

  &-body {
    padding: 15px;
    max-height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }
    
    &::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
     
    &::-webkit-scrollbar-thumb {
      background: #888; 
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

    .box-product-cart {
      display: flex;
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 10px;
      margin-bottom: 10px;

      img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
      }

      &-detail {
        h5 {
          margin-bottom: 5px;

          a {
            font-weight: 500;
            transition: .2s;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;

            &:hover {
              color: $main_color;
            }
          }
        }

        &-quantity {
          input {
            background: none;
            border: 0;
            width: 35px;
            margin-left: 20px;
            font-size: 14px;
            margin-bottom: 5px;
          }

          button {
            font-size: 14px;
            cursor: pointer;
            transition: .2s;
            background: black;
            border: 0;
            width: 20px;
            height: 20px;
            border-radius: 3px;
            color: white;
            line-height: 19px;

            &:hover {
              background: $main_color;
            }
          }
        }

        h4 {
          font-weight: bold;
          color: $main_color;
        }
      }
    }
  }

  &-footer {
    z-index: 10;
    background: white;
    margin-top: 20px;

    a {
      padding: 7px 15px;
      margin: 0 5px;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: 500;
      background: #959595;
      border: 2px solid #959595;
      color: white;
      font-size: 16px;
      transition: .5s;

      &:hover {
        color: white;
        border-color: $main_color;
        background: $main_color;
      }
    }

    a:nth-child(1) {
      color: #5E5E5E;
      background: none;

      &:hover {
        color: $main_color;
      }
    }
  }
}

.menu {
  position: fixed;
  z-index: 999;
  height: 100px;
  color: white;
  width: 100%;
  right: 15px;
  transition: .3s;

  .container {
    position: relative;
  }

  &.menu-down {
    background: rgba($color: #252525, $alpha: .7);
    height: 70px;
    
    .logo {
      margin: 5px 0;
    }

    .main-menu {
      .nav {
        margin: 18px 0;
      }
    }

    .custom-header {
      margin: 18px 0;
    }

    .search-form {
      top: 10px;
    }
  }

  .logo {
    margin: 20px 0;
    transition: .3s;
  }

  .main-menu {
    position: relative;

    .toggleMenu {
      cursor: pointer;
      display: none;
      color: black;
      margin: 10px 0;
      z-index: 10000;
      transition: 500ms;

      i {
        font-size: 26px;
      }
    }

    .nav {
      display: block;
      margin: 38px 0;
      text-align: center;
      transition: .3s;

      li {
        padding: 0 15px;
        transition: .5s;
        display: inline-block;

        &:hover {
          ul {
            transform: translateY(0) scaleY(1);
            transition-delay: 0s!important;
          }
        }

        i {
          color: white;
          padding-left: 5px;
          font-size: 20px;
          transition: .5s;
        }

        .active {
          color: $main_color;
        }

        a {
          font-weight: bold;
          font-size: 16px;
          text-transform: uppercase;
          transition: .5s;

          &:hover {
            color: $main_color;
            
            i {
              color: $main_color;
            }
          }
        }

        ul {
          width: 1110px;
          background: white;
          position: absolute;
          left: -293px;
          top: 52px;
          text-align: left;
          padding: 30px;
          padding-bottom: 10px;
          transform: translateY(-50%) scaleY(0);
          transition: .3s;
          transition-delay: 0.5s!important;

          li {
            width: 24%;
            padding: 0;
            padding-bottom: 20px;

            a {
              color: black;
              text-transform: capitalize;
              font-size: 14px;
              font-weight: 400;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
    }
  }

  .custom-header {
    margin: 35px 0;
    transition: .3s;

    i {
      font-size: 20px;
      margin-left: 10px;
      transition: .3s;

      &:hover {
        color: $main_color;
      }
    }

    .cart-btn {
      span {
        width: 12px;
        height: 12px;
        text-align: center;
        line-height: 12px;
        background: $main_color;
        color: white;
        font-size: 8px;
        border-radius: 50%;
        position: absolute;
        margin-left: -7px;
      }
    }
  }

  .search-form {
    position: absolute;
    top: 25px;
    right: 80px;
    transform: translateX(50%) scaleX(0);
    transition: .3s;

    &.search-form-out {
      transform: translateX(0) scaleX(1);
    }
    
    input {
      background: none;
      width: 200px;
      border: 0;
      border-bottom: 1px solid #383838;
      height: 40px;
      padding-left: 50px;
      color: #cccccc;
      z-index: 10;

      &:focus {
        box-shadow: none;
        outline: none;
        border-bottom-color: $main_color; 
      }
    }

    button {
      background: none;
      border: 0;
      position: absolute;
      left: 0;
      color: white;
      top: 6px;
      font-size: 20px;
      cursor: pointer;
      transition: .3s;

      &:hover {
        color: $main_color;
      }
    }
  }
}

.slider {
  padding-top: 100px;
  margin-bottom: 60px;

  .box-slider {
    background: white;
    padding: 30px 50px;
    width: 100%;
  }
}

.product {
  .title-cate {
    h1 {
      font-weight: 500;
      text-transform: uppercase;
      color: white;
      margin-bottom: 20px;
    }
  }
}

.box-product {
  display: flex;
  background: white;
  position: relative;
  margin-bottom: 5px;

  &-img {
    height: 100px;
    margin-right: 15px;
    
    img {
      transition: .3s;

      &:hover {
        filter: brightness(.7);
      }
    }
  }

  &-detail {
    h4 {
      margin-top: 5px;
      
      a {
        font-weight: 600;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        transition: .3s;

        &:hover {
          color: $main_color;
        }
      }
    }

    h5 {
      color: $main_color;

      &.status {
        color: black;
      }

      &.desc {
        color: #959595;
      }
    }
  }

  &-price {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: white;

    h3 {
      font-weight: bold;
      color: $main_color;
    }
  }
}

.product-text {
  .container {
    background: white;
    padding: 30px;
  }

  .product-detail {
    &-1 {
      &-img {
        .xzoom-thumbs {
          margin-top: 10px;
          margin-bottom: 30px;
          padding: 0 50px;
          position: relative;

          .xzoom-gallery {
            &:hover {
              border-color: $main-color;
            }
          }

          .xactive {
            border-color: $main-color;
            box-shadow: 0px 0px 3px 0px $main-color;
          }

          .owl-theme .owl-nav {

            button.owl-prev,
            button.owl-next {
              position: absolute;
              top: 40%;
              font-size: 30px;
              transition: .5s;
              transform: translateY(-50%);

              &:hover,
              &:focus {
                color: $main-color;
                background: none;
                outline: none;
              }
            }

            button.owl-prev {
              left: -12%
            }

            button.owl-next {
              right: -12%
            }
          }
        }
      }

      &-detail {
        color: #585858;
        margin-bottom: 30px;

        h2 {
          font-weight: bold;
          margin-bottom: 15px;
          color: black;
        }

        h5 {
          padding-bottom: 30px;
          margin-bottom: 30px;
          border-bottom: 1px solid #e1e1e1;
        }

        .quantity {
          a {
            margin: 0 10px;
            transition: .5s;

            &:hover {
              color: $main-color;
            }
          }

          input {
            width: 40px;
            height: 40px;
            text-align: center;
            border: 1px solid #959595;
            background: none;
            color: #585858;
            outline-color: $main-color;
            border-radius: 3px;
            margin-bottom: 10px;
            margin-left: 5px;
          }

          button {
            font-size: 14px;
            cursor: pointer;
            transition: .2s;
            background: black;
            border: 0;
            width: 20px;
            height: 20px;
            border-radius: 3px;
            color: white;
            line-height: 19px;

            &:hover {
              background: $main_color;
            }
          }

          button.custom-cart {
            background: $main-color;
            color: white;
            height: 40px;
            width: 130px;
            padding: 0 10px;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 3px;
            cursor: pointer;
            transition: .5s;
            border: 2px solid $main-color;
            margin-left: 5px;

            &:hover,
            &:focus {
              background: none;
              color: $main-color;
              box-shadow: none;
              outline: none;
            }

          }
        }
      }
    }

    &-2 {
      img {
        margin-bottom: 20px;
      }

      &-title {
        .nav-tabs {
          border-bottom: 2px solid #383838;
          margin-bottom: 30px;

          .nav-item {
            margin-bottom: -2px;

            .nav-link {
              padding-bottom: 11px;
              border: none;
              border-bottom: 2px solid #383838;
              transition: .5s;
              font-weight: bold;

              &.active,
              &:hover {
                background: none;
                border: none;
                border-bottom: 2px solid $main-color;
                padding-bottom: 11px;
                color: $main-color;
              }
            }
          }
        }
      }
    }
  }
}

.similar {
  margin-top: 50px;
  .title-cate h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
  }
}

.contact-page {
  .box-contact {
    color: white;

    input {
      height: 40px;
    }

    textarea {
      height: 100px;
    }
  }
}

.tutorial-page {
  color: white;

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
  }

  img {
    margin-bottom: 20px;
  }
}

.cart-page {
  margin-top: 40px;
  margin-bottom: 40px;

  &-product {
    margin-bottom: 30px;

    table {
      border: 1px solid #e1e1e1;

      thead {
        background: #f4f4f4;
        border: none;

        th {
          border-right: 1px solid #e1e1e1;
          text-align: center;
          font-weight: 500;
        }
      }

      tbody {
        td {
          text-align: center;
        }

        h4 {
          font-weight: bold;
        }
      }
    }

    .table-dark {
      background: transparent;
    }

    .table-responsive>.table-bordered {
      border-top: 1px solid #e1e1e1;
      background: white;
    }

    &-1 {
      text-align: left !important;
      color: black;

      img {
        width: 100px;
        float: left;
        margin-right: 10px;
      }

      h5 {
        transition: .5s;
        
        a {
          color: black;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-weight: 500;
        
          &:hover {
            color: $main-color;
          }
        }
      }

      i {
        margin-top: 5px;
        transition: .5s;
        color: black;
        font-size: 20px;  

        &:hover {
          color: $main-color;
        }
      }
    }

    .quantity {
      text-align: center;

      input {
        width: 40px;
        height: 40px;
        text-align: center;
        border: 1px solid #959595;
        background: none;
        color: #585858;
        outline-color: $main-color;
        border-radius: 3px;
        margin-bottom: 10px;
        margin-left: 5px;
      }

      button {
        font-size: 14px;
        cursor: pointer;
        transition: .2s;
        background: #959595;
        border: 0;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        color: white;
        line-height: 19px;
        margin-bottom: 5px;

        &:hover {
          background: $main_color;
        }
      }
    }

    &-3 {
      h4 {
        color: $main-color;
      }
    }
  }

  &-total {
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin-bottom: 30px;
    color: black;
    background: white;

    &-title {
      border-bottom: 1px solid #e1e1e1;
      margin-bottom: 10px;
      font-weight: 500;
    }

    .table-dark {
      background: none;
      font-size: 12px;

      .total-over {
        color: $main-color;
      }
    }

    input {
      height: 40px;
      width: 100%;
      border: 1px solid #e1e1e1;
      background: none;
      padding-left: 10px;
      font-style: italic;
      color: #cccccc;

      &:focus {
        outline-color: $main-color;
      }
    }

    button {
      background: #383838;
      color: #cccccc;
      border: none;
      padding: 5px 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      cursor: pointer;
      transition: .3s;

      &:hover,
      &:focus {
        background: $main-color;
        color: black;
        outline: none;
      }
    }

    &-btn {
      border-top: 1px solid #e1e1e1;
      margin-top: 10px;
      padding-top: 10px;

      button {
        text-transform: uppercase;
        width: 100%;
        height: 40px;
        color: white;
        background: $main-color;
        border: 2px solid $main-color;
        border-radius: 3px;

        a {
          font-weight: bold;
          color: white;
        }

        &:hover {
          background: none;
          
          a {
            color: $main-color;
          }
        }
      }
    }
  }

  &-btn {

    button {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      color: #383838;
      margin-left: 5px;
      margin-bottom: 30px;

      &:hover {
        color: white;
        background: $main-color;
      }
    }

    a {
      text-transform: uppercase;
      padding: 10px 15px;
      background: #cccccc;
      color: #383838;
      transition: .3s;
      border-radius: 3px;
      font-weight: 500;

      &:hover {
        color: white;
        background: $main-color;
      }
    }
  }
}

.pay-page {
  margin: 40px 0;
  color: black;

  &-title {
    h4 {
      margin-bottom: 20px;
      font-weight: bold;
      color: white;
    }
  }

  .pay-info {
    &-1 {
      border: 1px solid #e1e1e1;
      padding: 10px;
      padding-bottom: 0;
      margin-bottom: 30px;
      background: white;

      input,
      select {
        height: 40px;
        border: 1px solid #e1e1e1;
        background: none;
        color: #585858;
        font-size: 14px;

        &:hover,
        &:focus {
          box-shadow: 0 0 0 0.1rem $main-color;
        }
      }

      textarea {
        background: none;
        border: 1px solid #e1e1e1;
        height: 100px;
        font-size: 14px;

        &:hover,
        &:focus {
          box-shadow: 0 0 0 0.1rem $main-color;
        }
      }

      .form-group {
        margin-bottom: 20px;
      }
    }

    &-2 {
      border: 1px solid #e1e1e1;
      padding: 10px;
      color: #585858;
      background: white;

      td {
        text-align: center;
      }

      .pay-total {
        color: $main-color;
        font-weight: 500;
        font-size: 16px;
      }

      &-btn {
        margin-top: 20px;
        margin-bottom: 20px;

        button {
          background: none;
          color: #585858;
          border: none;
          margin-left: 10px;
          cursor: pointer;

          &:focus {
            outline: none;
          }
        }

        a {
          background: #cccccc;
          color: #585858;
          padding: 10px 15px;
          border-radius: 3px;
          transition: .3s;
          font-weight: 500;
          text-transform: uppercase;

          &:hover {
            background: $main-color;
            color: white;
          }
        }

        .order-btn {
          padding: 8px 30px;
          font-weight: bold;
          text-transform: uppercase;
          color: white;
          background: $main-color;
          border: 2px solid $main-color;

          &:hover {
            background: none;
            color: $main-color;
          }
        }
      }

    }
  }

  .pay-order {
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin-bottom: 30px;
    background: white;

    p {
      margin: 0;
    }

    .box-pay-order {
      padding-top: 10px;
      margin-top: 10px;
      border-top: 1px solid #e1e1e1;

      img {
        width: 100px;
        margin-right: 10px;
        float: left;
        position: relative;
      }

      h5 {
        margin-bottom: 5px;

        a {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          transition: .5s;

          &:hover {
            color: $main-color;
          }
        }
      }

      h4 {
        color: $main-color;
      }
    }
  }
}


// --------------------------------------------------------------------
@import 'media';
