extends inc

block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item.active Hướng dẫn
    
    section.tutorial-page
      .container
        h1.text-center Hướng dẫn

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.

        img(src='../img/body-bg.jpeg')
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.
