<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Giao Sỉ Điện Thoại
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/owl.carousel.min.css')
    link(rel='stylesheet', href='../css/owl.theme.default.min.css')
    link(rel='stylesheet', href='../css/xzoom.css')
    link(rel='stylesheet', href='../css/magnific-popup.css')
    link(rel='stylesheet', href='../css/jquery.fancybox.min.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .go-top.wow.zoomInRight(title='Lên đầu trang', data-wow-duration='2s')
      span
      span


    block header
      header
        section.menu
          .container
            .row
              .col-md-3.col-8
                .logo
                  a(href='index.html')
                    img(src='../img/logo.png')

              .col-lg-6.col-md-7.col-12.order-md-0.order-first
                .main-menu
                  a.toggleMenu.ssm-toggle-nav
                    i.mdi.mdi-menu

                  ul.nav
                    .nav-close
                      i.mdi.mdi-close.d-block.d-md-none
                    li.nav-item
                      a(href='index.html') Trang chủ
                    li.nav-item
                      a 
                        | Sản phẩm
                        i.mdi.mdi-chevron-down

                      ul
                        li
                          a(href='san-pham.html') Urna maximus
                        li
                          a(href='san-pham.html') Urna maximus
                        li
                          a(href='san-pham.html') Urna maximus
                        li
                          a(href='san-pham.html') Urna maximus
                        li
                          a(href='san-pham.html') Urna maximus
                        li
                          a(href='san-pham.html') Urna maximus
                        li
                          a(href='san-pham.html') Urna maximus
                        li
                          a(href='san-pham.html') Urna maximus
                        li
                          a(href='san-pham.html') Urna maximus
                        li
                          a(href='san-pham.html') Urna maximus
                        li
                          a(href='san-pham.html') Urna maximus
                        

                    li.nav-item
                      a(href='huong-dan.html') Hướng dẫn
                    li.nav-item
                      a(href='lien-he.html') Liên hệ

              .col-lg-3.col-md-2.col-4.text-right
                .custom-header
                  a.search-btn
                    i.mdi.mdi-magnify
                  a.cart-btn
                    i.mdi.mdi-cart
                    span 10

            .search-form
              form
                input(type='text', placeholder='Nhập từ khóa')
                button
                  i.mdi.mdi-magnify
          
        .cart
          .cart-header
            .row
              .col-2
                i.mdi.mdi-close.cart-close(title='Đóng')
              .col-8.text-center
                h3 GIỎ HÀNG
              .col-2.text-right
                i.mdi.mdi-cart
                span 10
          .cart-body
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .box-product-cart-detail-quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 500.000 đ
            
            

          .cart-footer.text-center
            a(href="gio-hang.html") vào giỏ hàng
            a(href="thanh-toan.html") thanh toán



        .ssm-overlay.ssm-toggle-nav
        .overlay

      .slider
        .container
          .box-slider.text-center 
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate optio aliquid vero aut, accusantium aspernatur exercitationem libero deserunt voluptate? Eaque iure voluptas aut et illum ipsum voluptatem commodi, fugiat deserunt?


    block article

    block footer
      footer
        .container
          .footer.text-center
            a(href='index.html')
              img(src='../img/logo.png')
            ul
              li
                i.mdi.mdi-map-marker-radius
                | Địa chỉ: 892D Tạ Quang Bửu - P. 5 - Q.8 - TP.HCM
              li
                i.mdi.mdi-email-variant
                | Email: zreturnlovez@gmail.com
              li
                i.mdi.mdi-phone-classic
                | Hotline: 0938 393 169
            .social
              a(href='#')
                i.mdi.mdi-facebook
              a(href='#')
                i.mdi.mdi-twitter
              a(href='#')
                i.mdi.mdi-skype
              a(href='#')
                i.mdi.mdi-youtube

      script(src='../js/jquery-3.3.1.min.js')
      script(src='../js/jquery.touchSwipe.min.js')
      script(src='../js/jquery.slideandswipe.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/mdb.min.js')
      script(src='../js/xzoom.min.js')
      script(src='../js/magnific-popup.js')
      script(src='../js/owl.carousel.min.js')
      script(src='../js/jquery.fancybox.min.js')
      script(src='../js/layout.js')
