extends inc

block article
  article
    section.product
      .container
        .title-cate
          h1 hàng mới về
        
        .box-product
          .box-product-img 
            a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
              img(src='../img/product-1.png')
          .box-product-detail
            h4
              a(href='chi-tiet-san-pham.html', title='XR 64 Đen') XR 64 Đen
            h5 New 100%
            h5.status Còn hàng
            h5.desc FullBox. Zin All. LL
          .box-product-price 
            h3 17.200.000

        .box-product
          .box-product-img 
            a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
              img(src='../img/product-1.png')
          .box-product-detail
            h4
              a(href='chi-tiet-san-pham.html', title='XR 64 Đen') XR 64 Đen
            h5 New 100%
            h5.status Còn hàng
            h5.desc FullBox. Zin All. LL
          .box-product-price 
            h3 17.200.000

        .box-product
          .box-product-img 
            a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
              img(src='../img/product-1.png')
          .box-product-detail
            h4
              a(href='chi-tiet-san-pham.html', title='XR 64 Đen') XR 64 Đen
            h5 New 100%
            h5.status Còn hàng
            h5.desc FullBox. Zin All. LL
          .box-product-price 
            h3 17.200.000

        .box-product
          .box-product-img 
            a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
              img(src='../img/product-1.png')
          .box-product-detail
            h4
              a(href='chi-tiet-san-pham.html', title='XR 64 Đen') XR 64 Đen
            h5 New 100%
            h5.status Còn hàng
            h5.desc FullBox. Zin All. LL
          .box-product-price 
            h3 17.200.000

        .box-product
          .box-product-img 
            a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
              img(src='../img/product-1.png')
          .box-product-detail
            h4
              a(href='chi-tiet-san-pham.html', title='XR 64 Đen') XR 64 Đen
            h5 New 100%
            h5.status Còn hàng
            h5.desc FullBox. Zin All. LL
          .box-product-price 
            h3 17.200.000

        .box-product
          .box-product-img 
            a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
              img(src='../img/product-1.png')
          .box-product-detail
            h4
              a(href='chi-tiet-san-pham.html', title='XR 64 Đen') XR 64 Đen
            h5 New 100%
            h5.status Còn hàng
            h5.desc FullBox. Zin All. LL
          .box-product-price 
            h3 17.200.000

        .box-product
          .box-product-img 
            a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
              img(src='../img/product-1.png')
          .box-product-detail
            h4
              a(href='chi-tiet-san-pham.html', title='XR 64 Đen') XR 64 Đen
            h5 New 100%
            h5.status Còn hàng
            h5.desc FullBox. Zin All. LL
          .box-product-price 
            h3 17.200.000

        .box-product
          .box-product-img 
            a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
              img(src='../img/product-1.png')
          .box-product-detail
            h4
              a(href='chi-tiet-san-pham.html', title='XR 64 Đen') XR 64 Đen
            h5 New 100%
            h5.status Còn hàng
            h5.desc FullBox. Zin All. LL
          .box-product-price 
            h3 17.200.000

        .box-product
          .box-product-img 
            a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
              img(src='../img/product-1.png')
          .box-product-detail
            h4
              a(href='chi-tiet-san-pham.html', title='XR 64 Đen') XR 64 Đen
            h5 New 100%
            h5.status Còn hàng
            h5.desc FullBox. Zin All. LL
          .box-product-price 
            h3 17.200.000

        .box-product
          .box-product-img 
            a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
              img(src='../img/product-1.png')
          .box-product-detail
            h4
              a(href='chi-tiet-san-pham.html', title='XR 64 Đen') XR 64 Đen
            h5 New 100%
            h5.status Còn hàng
            h5.desc FullBox. Zin All. LL
          .box-product-price 
            h3 17.200.000

        .box-product
          .box-product-img 
            a(href='chi-tiet-san-pham.html', title='Nhấn để xem chi tiết')
              img(src='../img/product-1.png')
          .box-product-detail
            h4
              a(href='chi-tiet-san-pham.html', title='XR 64 Đen') XR 64 Đen
            h5 New 100%
            h5.status Còn hàng
            h5.desc FullBox. Zin All. LL
          .box-product-price 
            h3 17.200.000

        