<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Giao Sỉ Điện Thoại</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/xzoom.css"/>
    <link rel="stylesheet" href="../css/magnific-popup.css"/>
    <link rel="stylesheet" href="../css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top wow zoomInRight" title="Lên đầu trang" data-wow-duration="2s"><span></span><span></span></div>
    <header>
      <section class="menu">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-8">
              <div class="logo"><a href="index.html"><img src="../img/logo.png"/></a></div>
            </div>
            <div class="col-lg-6 col-md-7 col-12 order-md-0 order-first">
              <div class="main-menu"><a class="toggleMenu ssm-toggle-nav"><i class="mdi mdi-menu"></i></a>
                <ul class="nav">
                  <div class="nav-close"><i class="mdi mdi-close d-block d-md-none"></i></div>
                  <li class="nav-item"><a href="index.html">Trang chủ</a></li>
                  <li class="nav-item"><a>
                       Sản phẩm<i class="mdi mdi-chevron-down"></i></a>
                    <ul>
                      <li><a href="san-pham.html">Urna maximus</a></li>
                      <li><a href="san-pham.html">Urna maximus</a></li>
                      <li><a href="san-pham.html">Urna maximus</a></li>
                      <li><a href="san-pham.html">Urna maximus</a></li>
                      <li><a href="san-pham.html">Urna maximus</a></li>
                      <li><a href="san-pham.html">Urna maximus</a></li>
                      <li><a href="san-pham.html">Urna maximus</a></li>
                      <li><a href="san-pham.html">Urna maximus</a></li>
                      <li><a href="san-pham.html">Urna maximus</a></li>
                      <li><a href="san-pham.html">Urna maximus</a></li>
                      <li><a href="san-pham.html">Urna maximus</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a href="huong-dan.html">Hướng dẫn</a></li>
                  <li class="nav-item"><a href="lien-he.html">Liên hệ</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-2 col-4 text-right">
              <div class="custom-header"><a class="search-btn"><i class="mdi mdi-magnify"></i></a><a class="cart-btn"><i class="mdi mdi-cart"></i><span>10</span></a></div>
            </div>
          </div>
          <div class="search-form">
            <form>
              <input type="text" placeholder="Nhập từ khóa"/>
              <button><i class="mdi mdi-magnify"></i></button>
            </form>
          </div>
        </div>
      </section>
      <div class="cart">
        <div class="cart-header">
          <div class="row">
            <div class="col-2"><i class="mdi mdi-close cart-close" title="Đóng"></i></div>
            <div class="col-8 text-center">
              <h3>GIỎ HÀNG</h3>
            </div>
            <div class="col-2 text-right"><i class="mdi mdi-cart"></i><span>10</span></div>
          </div>
        </div>
        <div class="cart-body">
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
          <div class="box-product-cart"><img src="../img/product-1.png"/>
            <div class="box-product-cart-detail">
              <h5><a href="chi-tiet-san-pham.html">Mèo thần tài</a></h5>
              <div class="box-product-cart-detail-quantity">
                <button class="waves-effect waves-light">-</button>
                <input type="number" value="1" min="1"/>
                <button class="waves-effect waves-light">+</button>
              </div>
              <h4>500.000 đ</h4>
            </div>
          </div>
        </div>
        <div class="cart-footer text-center"><a href="gio-hang.html">vào giỏ hàng</a><a href="thanh-toan.html">thanh toán</a></div>
      </div>
      <div class="ssm-overlay ssm-toggle-nav"></div>
      <div class="overlay"></div>
    </header>
    <div class="slider">
      <div class="container">
        <div class="box-slider text-center">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate optio aliquid vero aut, accusantium aspernatur exercitationem libero deserunt voluptate? Eaque iure voluptas aut et illum ipsum voluptatem commodi, fugiat deserunt?</div>
      </div>
    </div>
    <article>
      <section class="bread-crumb">
        <div class="container">
          <div class="bc-icons">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item active">Hướng dẫn</li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
      <section class="tutorial-page">
        <div class="container">
          <h1 class="text-center">Hướng dẫn</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.</p><img src="../img/body-bg.jpeg"/>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, at, magnam impedit aliquid, ducimus aut officia quibusdam veritatis cumque praesentium placeat velit reiciendis maiores! Hic adipisci quidem ea incidunt dignissimos.</p>
        </div>
      </section>
    </article>
    <footer>
      <div class="container">
        <div class="footer text-center"><a href="index.html"><img src="../img/logo.png"/></a>
          <ul>
            <li><i class="mdi mdi-map-marker-radius"></i>Địa chỉ: 892D Tạ Quang Bửu - P. 5 - Q.8 - TP.HCM</li>
            <li><i class="mdi mdi-email-variant"></i>Email: zreturnlovez@gmail.com</li>
            <li><i class="mdi mdi-phone-classic"></i>Hotline: 0938 393 169</li>
          </ul>
          <div class="social"><a href="#"><i class="mdi mdi-facebook"></i></a><a href="#"><i class="mdi mdi-twitter"></i></a><a href="#"><i class="mdi mdi-skype"></i></a><a href="#"><i class="mdi mdi-youtube"></i></a></div>
        </div>
      </div>
    </footer>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/jquery.touchSwipe.min.js"></script>
    <script src="../js/jquery.slideandswipe.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/xzoom.min.js"></script>
    <script src="../js/magnific-popup.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>